.journal-item {
  border-radius: 3px;
  background-color: #ffffff08;
  color: #fff;
  padding: 20px;
}

.journal-item_header {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: 28px;
}

.journal-item_date {
  color: #ffffff66;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.journal-item_text {
  color: #ffffff99;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
}

.journal-item_body {
  display: flex;
  align-items: center;
  gap: 10px;
}
